:root {
  --firstColor: #814096;
  --secondColor: #f83292;
  --gradient: linear-gradient(90deg, var(--firstColor), var(--secondColor));
}

* {
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  outline: none;
  border: none;
  text-transform: capitalize;
}

*::selection {
  background: var(--secondColor);
  color: #fff;
}

html {
  font-size: 62.5%;
  overflow-x: hidden;
}

body {
  background: #f9f9f9;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background: #fff;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
  padding: 2rem 9%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 1000;
}

header .logo {
  font-size: 2rem;
  color: var(--firstColor);
}

header .logo span {
  color: var(--secondColor);
}